/* Contact */
form {
    width: 70%;
}

form label {
    font-size: 20px;
}

input,
select,
textarea {
    width: 100%;
    padding: 1vh;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #5da3ff;
    outline-color: #5da3ff;
}

textarea {
    resize: none;
    font-family: 'Poppins', sans-serif;
}
/* End Contact */