#project-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}
  
.project-item {
    width: 40%;
    text-align: end;
    padding: 1% 2%;
    margin: 2% 2%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.right {
    text-align: start;
}