* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.9vw;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

body::-webkit-scrollbar {
  display: none;
}

#app-container {
  padding: 0 3vw;
}

.panel {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
}

.section-heading {
  font-size: 3vw;
  margin-bottom: 3vw;
  color: #3f3f3f;
}

/* .section-heading::after {

} */

.hidden {
  opacity: 0;
}

.color-default {
  background-color: #ececec;
}

.color-extra-light {
  background-color: #cacaca;
}

.color-light {
  background-color: #a8a8a8;
}

.color-med {
  background-color: #868686;
}

.color-dark {
  background-color: #646464;
}

/* Landing */
#landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

#landing-text h1 {
  display: inline;
  font-size: 5vw;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to top, #3f3f3f, #a1a1a1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

#landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
}

.scroll-text {
  top: 95%;
  height: 5%;
}

.scroll-text p {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

/* About */
#about {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10rem 0;
}

#about-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#profile-image {
  max-width: 40%;
  padding-right: 3vw;
  flex-grow: 1;
}

#about-details {
  text-align: center;
}

#about-heading {
  margin-bottom: 10px;
}

#about-name {
  text-transform: uppercase;
  font-size: 5vw;
  color: #3f3f3f;
}

#about-title {
  font-size: 1.5vw;
  font-weight: 400;
  text-transform: none;
  color: #3f3f3f;
}

#social-media {
  margin-top: 20px;
}

#social-details {
  font-size: 0.75vw;
  font-weight: 600;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 1vh;
}

#about-name, #about-title {
  padding-top: 10px;
}

#media-items {
  list-style: none;
  display: flex;
  justify-content: center;
}

#media-items > * {
  padding: 5px 20px;
}

.icon-link > i {
  font-size: 48px;
  transition: color 300ms;
  border-radius: 15%;
  height: 44px;
  width: 42px;
  box-shadow: 4px 7px 3px 2px rgba(0, 0, 0, .2);
}

.fa-github-square {
  color: #464646;
}

.fa-twitter-square {
  color: #468aac;
}

.fa-linkedin {
  color: #46688a;
}

.fa-github-square:hover {
  color: #000000;
}

.fa-twitter-square:hover {
  color: #38a1f3;
}

.fa-linkedin:hover {
  color: #0e76a8;
}